<div style="position: absolute; top: 0; left: 0; right: 0; background-color: black; height: 100%; background-image: url('../../../../../../assets/img/cinema.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;">
    
    <div style="text-align: center; margin-top: 2vh;">
        <!-- Carrega o componente tela cinema dentro do componente sala cinema -->
        <app-tela-cinema></app-tela-cinema>
    </div>

    <div style="text-align: center; padding-top: 100px;">
        <h1
            style="font-size:30pt; color: rgb(255, 164, 90); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            SALA DE CINEMA I</h1>
    </div>

    <div style="text-align: center; padding-top: 3px;">
        <button (click)="sair()" style="background-color: blueviolet; font-size: 16pt; color: white; width: 150px; height: 50px;">SAIR</button>
    </div>

</div>